/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 24px;
  margin: 50px 100px;
}

article {

}

h1 {
font-size: 40px;
}

h2 {

}

img {
	max-width: 100%;
  padding: 20px;
}

main {

}

section {

}

figure {
	margin: 0;
}

figcaption {
  font-size: .8em;
}

@media screen and (min-width: 900px) {

  body {
    background-color: antiquewhite;
    font-size: 18px;
    margin: 20px 50px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  section figure {
    max-width: 50%;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-color:azure;
    font-size: 20px;
    margin: 50px 150px;
    max-width: 1366px;
  }
}
