/*
*/

h3 {
  text-align: center;
  margin: 25px auto;
  font-family: sans-serif;
  text-decoration: underline;
  text-decoration-color: #2e2e2e;
}

div:nth-of-type(1) {
  border: 1px dashed #373E40;
  background-color: #B7D5D4;
  color: #8ab4b2;
}

div:nth-of-type(2) {
  border: 1px dashed #373E40;
  background-color: #488286;
  color: #325253;
}

div:nth-of-type(3) {
  border: 1px dashed #373E40;
  background-color: #373E40;
  height: 100px;
  color: #7a7a7a;
}

div:nth-of-type(4) {
  border: 1px dashed #373E40;
  background-color: #305252;
  color: #1c3b35;
}

div:nth-of-type(5) {
  border: 1px dashed #373E40;
  background-color: #77878B;
  color: #c0c0c0;
}

div:nth-of-type(1):hover {
  border: 4px dashed #798081;
  background-color: #B7D5D4;
}

div:nth-of-type(2):hover {
  border: 4px dashed #373E40;
  background-color: #488286;
}

div:nth-of-type(3):hover {
  border: 4px dashed #798081;
  background-color: #373E40;
}

div:nth-of-type(4):hover {
  border: 4px dashed #798081;
  background-color: #305252;
}

div:nth-of-type(5):hover {
  border: 4px dashed #696969;
  background-color: #77878B;
}

div:nth-of-type(2n+1) {
  font-style: italic;
  font-size: 20px;
}
